.app {
  --cell-gap: 2vmin;
  --cell-size: 12vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.app > div:first-child {
  background: white;
  border-radius: 5px;
  padding: var(--cell-gap);
}

.gameHeader > div {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  column-gap: var(--cell-gap);
}

.gameHeader h1 {
  font-size: 8vmin;
}

.gameHeader > p {
  margin: 15px 0;
}

.gameHeader > div > div {
  background: #bbada0;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  text-align: center;
  height: fit-content;
}

.gameHeader h4 {
  font-size: 12px;
  font-weight: 500;
}

.gameHeader button {
  background: #bbada0;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  float: right;
  margin: 0 0 15px 0;
  cursor: pointer;
}

.gameHeader h5 {
  font-size: 18px;
}

.gameBoard {
  position: relative;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  background: #bbada0;
  border-radius: 5px;
  gap: var(--cell-gap);
  padding: var(--cell-gap);
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 5px;
  font-size: 4vmin;
  font-weight: bold;
}

@keyframes popup {
  0% {
    scale: 0%;
    opacity: 0.1;
  }
}

.gameFooter {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  justify-content: space-between;
  place-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.gameFooter img {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .app {
    --cell-size: 18vmin;
  }
  .tile {
    font-size: 6vmin;
  }
}

.gameOver {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 5px;
}

.gameOver > h2 {
  font-size: 36px;
}

.gameOver > h3 {
  font-size: 30px;
  color: goldenrod;
}

/*Colored Tiles*/
.x0 {
  background-color: #cdc1b4;
  color: #727371;
}

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #edce71;
  color: white;
}

.x256 {
  background-color: #edcc63;
  color: white;
}

.x512 {
  background-color: #edc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}
