.app {
  --cell-gap: 2vmin;
  --cell-size: 12vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.app > div:first-child {
  background: white;
  border-radius: 5px;
  padding: var(--cell-gap);
}

.gameHeader > div {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  column-gap: var(--cell-gap);
}

.gameHeader h1 {
  font-size: 8vmin;
}

.gameHeader > p {
  margin: 15px 0 30px;
}

.gameHeader > div > div {
  background: #bbada0;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
  text-align: center;
  height: fit-content;
}

.gameHeader h4 {
  font-size: 12px;
  font-weight: 500;
}

.gameHeader h5 {
  font-size: 18px;
}

.gameBoard {
  position: relative;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(4, var(--cell-size));
  background: #bbada0;
  border-radius: 5px;
  gap: var(--cell-gap);
  padding: var(--cell-gap);
}

.cell {
  background: #cdc1b4;
  border-radius: 5px;
}

.tile {
  /* --x: 1;
  --y: 0; */
  position: absolute;
  /* top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap)); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: red;
  border-radius: 5px;
}

.gameFooter {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  justify-content: space-between;
  place-items: center;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.gameFooter img {
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .app {
    --cell-size: 18vmin;
  }
}
